body {
    align-items: center;
    justify-items: center;
    background-image: url(pink_stars.jpeg);
}

.bgpic {
    background-image: url(strawberry_bg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    position: relative;
    font-weight: bold;
    font-size: 2em;
    font-family:monospace;
    text-align: center;
}



.bgpic img {
    height: 300px;
    border: 5px solid rgb(253, 200, 232);
    outline: 5px solid rgb(2, 2, 2);
    border-radius: 5px;
}

.f1 {
    position: absolute;
    top: 55px;
     animation: pulse 2s infinite;
}
@keyframes pulse {
    0%,100% {transform: scale(1);}
    50% {transform: scale(1.2);}
}

.f2 {

    animation: pulse 2s infinite;
}
@keyframes pulse {
    0%,100% {transform: scale(1);}
    50% {transform: scale(1.2);}
}

.pic {
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0%,100% {transform: scale(1);}
    50% {transform: scale(1.1);}
}


.letter {
    background-image: url(strawberry_bg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(11, 11, 9);
    box-sizing: border-box;
    position: relative;
    font-weight: bold;
    font-size: 12px;
    font-family:monospace;
    text-align: center;
}

.f3 {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(107, 7, 7);
    color: white;
    text-decoration: none;
    border-radius: 20%;
    text-align: center;
    border: 2px solid black;
    font-size: 15px;
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0%,100% {transform: scale(1);}
    50% {transform: scale(1.1);}
}

.d3 {
    
    
    
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(107, 7, 7);
    color: white;
    text-decoration: none;
    border-radius: 20%;
    text-align: center;
    border: 2px solid black;
    font-size: 15px;
}
