 .carousel-container {
 width: 100%;
 height: 100%;
 border-radius: .2em;
 background-color: rgb(253, 228, 239);
 overflow: hidden;
 padding: 20px 0;
 }

.carousel::-webkit-scrollbar {
    display: none;
}

.card {
    flex: 0 0 auto;
    height: 800px ;
    width: 340px;
    background: rgb(60, 1, 60);
    display: flex;
   
    color: white;
    margin: 0 1;
} 

.card img {
  height: 800px;
  width: 340px;
}

.carousel-track {
    display: flex;
    flex-direction: column;
    height: max-content;
    animation: vertical-scroll 15s linear infinite; 
    align-items: center;
    justify-content: center;
}

@keyframes vertical-scroll {
  0% {
    
    transform: translateY(0);
  }
  100% {

    transform: translateY(-100%);
  }
} 


.top {
  height: 40px;
  width: 340px;
  align-items: center;
  justify-content: center;
}

.p3 {
    align-self: center;
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(107, 7, 7);
    color: white;
    text-decoration: none;
    border-radius: 20%;
    text-align: center;
    border: 2px solid black;
    font-size: 15px;
}



